html {
  font-size: 62.5%;
  height: 100%;
}

body {
  width: 100%;
  background-color: #fafafa;
}

.App {
  text-align: center;
}

#root {
  text-align: center;
  font-size: 3rem;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: rgb(255, 255, 255);
  width: 50vw;
  border-radius: 2rem;
  border: transparent;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.input-text {
  width: 80%;
  height: 2rem;
  border: transparent;
  border-radius: 1rem;
  margin-right: 1rem;
}

.btn-add {
  margin-top: 1rem;
  width: 10rem;
  height: 4rem;
  background-color: #1a8917;
  color: white;
  border-radius: 1rem;
  border: transparent;
}

.btn-add:hover {
  background-color: #10570d;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.task-item:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.btn-delete {
  width: 10rem;
  height: 4rem;
  background-color: #bb3333;
  color: white;
  border-radius: 1rem;
  border: 1px transparent;
}

.btn-delete:hover {
  background-color: #882525;
}

.task-completed {
  text-decoration: line-through;
  text-overflow: Ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.task-name {
  text-overflow: Ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 600px) {
  #root {
    font-size: 2rem;
  }

  .container {
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 2rem;
    border: transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}
